{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <span class="col-md-12" style="font-family:Verdana;font-size: 18px; padding:25px;"><i>Bienvenue sur le test feature flipping :</i>
      </span>
      <div class="col-md-12">
        <a href="/managefeature" class="btn btn-primary" style="color:black;">
          Gerer les features
        </a>
      </div>
      <div class="col-md-12">
        <a href="/examplesolo" class="btn btn-primary" style="color:black;">
          test ajax solo feature
        </a>
      </div>
      <div class="col-md-12">
        <a href="/examplemulti" class="btn btn-primary" style="color:black;">
          test ajax multi features
        </a>
      </div>
    </div>
  </div>
{% endblock %}
